<!DOCTYPE>
<html ng-app="zeedog">
    <head>
        <meta charset="UTF-8">
        <title>ZeeDog</title>
        <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="mainCtrl">
       
        <div class="container">
            <div class="top">
                <img class="lancamento" src="img/lancamento.png">
                <div class="frase">
                   CHEGOU O KING JAMBO PARA COMPLETAR A FAMÍLIA!
                </div>
                <div class="mainContent">
                    <div class="imageDiv">
                        <div class="thumbnailList">
                           <img ng-repeat="img in availableImages" ng-src="{{img}}" ng-click="changeImage(img)">
                        </div>
                        <div class="mainImageArea">
                            <img ng-src="{{mainImg}}">
                             <div class="categoriesList">
                                <img src="img/categoria_apertar.png">
                                <img src="img/categoria_mordida_leve.png">
                                <img src="img/categoria_algodao_reforcado.png">
                            </div>
                        </div>
                    </div>
                    <div class="shoppingArea">
                        <div class="info">
                            <div class="name">
                                Brinquedo para Cachorros Alien Flex King Jambo
                            </div>
                            <div class="price">
                                R$ 59,00
                            </div>
                            <button class="btn buyBtn">EU QUERO COMPRAR!</button>
                            <div class="form">
                                <div class="text">
                                    Fique por dentro de todas as novidades,lançamentos e promoções exclusivas. 
                                </div>
                                 <div class="input-group">
                                    <input type="text" class="form-control" ng-model="userEmail"  placeholder="SEU E-MAIL" >
                                    <span class="input-group-addon">
                                        <button ng-click="registerUser()">
                                            Oba!
                                        </button>  
                                    </span>
                                </div>
                            </div>
                            <div ng-show="alert.show" class="alert {{alert.type}}">
                                {{alert.message}}
                            </div>
                        </div>
                        <div class="list">
                            <div class="item">
                                <span class="glyphicon glyphicon-refresh"></span>
                                <small>TROCA FÁCIL E GRÁTIS</small>
                            </div>
                            <div class="item">
                                <span class="glyphicon glyphicon-gift"></span>
                                <small>FRETE GRÁTIS > R$149</small>
                            </div>
                            <div class="item">
                                <span class="glyphicon glyphicon-comment"></span>
                                <small>SUPER ATENDIMENTO</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <!-- FUN SPACESHIP: ONLY AVAILABLE ON LARGE SCREENS -->
                <img class="hidden-xs hidden-sm hidden-md" src="http://www.clipartbest.com/cliparts/Kin/oxx/KinoxxbyT.png" style="position: absolute;right: 0;">
                <div class="about">
                    <div class="title">Conheça o King Jambo</div>
                    <div class="text col-xs-12 col-sm-10 col-md-8 col-lg-8">King Jambo (ele se chama de "Rei dos Reis") é uma das menores, e mesmo assim mais temida, criatura do planeta Kyox. Ele é conhecido por sua boca grande, piadas sem graça, e um apetite insaciável por melancias. Esse é um brinquedo de pelúcia para cachorros da Alien Flex.</div>
                </div>
                <div class="specs">
                    <div class="image">
                        <img src="img/king_jambo_medidas.jpg">
                    </div>
                    <div class="specList">
                        <ul>
                            <li>
                                Pelúcia para cachorro que emite som ao ser apertada (squeaker).
                            </li>
                            <li>
                                Squeaker com proteção reforçada de nylon.
                            </li>
                            <li>
                                Braços e pernas curtos e presos ao corpo.
                            </li>
                            <li>
                                Sem peças soltas.
                            </li>
                        </ul>
                        <ul>
                            <li>
                                 <small><i>Não recomendamos esse brinquedo para cachorros com mordida forte e com tendência a destruir objetos.</i></small>
                            </li>
                            <li>
                                <small><i>Nenhum brinquedo é indestrutível.</i></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="favProds">
                <div class="header">
                    <span class="title col-xs-12 col-sm-12 col-md-12 col-lg-12"> CONHEÇA O RESTO DA FAMÍLIA </span>
                    <small>COMPLETE A SUA COLEÇÃO!</small>
                </div>
                <div class="productList">
                    <div class="product col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="http://zeedog.vteximg.com.br/arquivos/ids/161695_2">
                        <p>BIGGOE</p>
                        <small>A PARTIR DE R$ 59,00</small>
                    </div>
                    <div class="product col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="http://zeedog.vteximg.com.br/arquivos/ids/161701_2">
                        <p>HUBBA</p>
                        <small>A PARTIR DE R$ 59,00</small>
                    </div>
                    <div class="product col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="http://zeedog.vteximg.com.br/arquivos/ids/161715_2">
                        <p>XAMAN</p>
                        <small>A PARTIR DE R$ 59,00</small>
                    </div>
                </div>
            </div>
            <div class="socialShare">
                <div class="title">
                    COMPARTILHE!
                </div>
                <div class="media">
                    <img src="http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19748.png">
                    <img src="http://www.freeiconspng.com/uploads/twitter-icon--icons-for-twitter--twitter-vector-icons-6.png">
                    <img src="https://www.drupal.org/files/styles/grid-3/public/project-images/google-Plus-icon.png?itok=2Eo8hUwf">
                    <img src="http://download.seaicons.com/icons/sicons/flat-shadow-social/512/pinterest-icon.png">
                </div>
            </div>
        </div>

       


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    </body>
</html>